{% extends 'eadmin/master.html' %}

{% block title %}Edit Employee - EAdmin{% endblock %}

{% block content %}
    <h1>Edit Employee</h1>
    <!-- Add your edit form here -->
    <form action="" method="POST">
        {% csrf_token %}
        <label for="">employee name</label>
        <input type="text"  value="{{employee.name}}" name="name"><br>
        <label for="">department</label>
        <input type="text" value="{{employee.department}}" name="department"><br>
        <button>edit</button>
    </form>
    {{ status }}
{% endblock %}